body {
  @apply font-sans antialiased text-black bg-white leading-normal;
}
  
.content > p {
  @apply mb-5;

  &:last-of-type {
    @apply mb-0;
  }
}

.content > p a {
  @apply underline;

  &:hover, &:focus {
    @apply underline;
  }
}

.content > p > a {
  @apply text-red;

  &:hover, &:focus {
    @apply text-opacity-50;
  }
}

.content ul {
  @apply list-disc list-inside my-3;
}

.content--fancy > p:first-of-type {
  @apply block text-xl font-display leading-extra-tight mb-5;
}

@screen md {
  .content--fancy > p:first-of-type {
    @apply text-xl mb-8;
  }
}

@screen xl {
  .content--fancy > p:first-of-type {
    @apply text-2xl;
  }
}

@screen 2xl {
  .content--fancy > p:first-of-type {
    @apply text-3xl;
  }
}

.fancy-list {
  @apply mb-5 list-inside list-disc;

  li {
    @apply block mb-3 relative pl-8 leading-snug;
  }

  li:before {
    @apply text-red absolute top-0 left-0 text-xl -mt-2 -ml-px;
    content: "→ ";
  }
}

@responsive {
  .upright {
    writing-mode: vertical-rl;
    text-orientation: sideways;
    transform: rotate(180deg);
  }
}

.about-text {
  text-indent: 3rem;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, h6 {
  @apply p-0 mb-6;
}
  
.content > h1, .content > .h1 {
  @apply text-4xl;
}
  
.content > h2, .content > .h2 {
  @apply text-3xl;
}

.nav-item.is--active {
  @apply text-red !important;
}

.hero-bg-image > picture {
  @apply absolute top-0 left-0 right-0 bottom-0 w-full h-full object-cover !important;
}

.hero-bg-image > picture > img {
  @apply absolute top-0 left-0 right-0 bottom-0 w-full h-full object-cover !important;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

::-moz-selection {
  @apply bg-red text-black bg-opacity-50;
}
::selection { 
  @apply bg-red text-black bg-opacity-50;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  position: relative;
  flex: 0 0 100%;
}